<%- include("partials/header.ejs") -%>

<% for(let i=0; i< newcontent.length; i++) { %>
<% if(newcontent[i]._id == id) { %>

<h1><%= newcontent[i].titlePost.Title %></h1>
<p> <%= newcontent[i].titlePost.Post%></p>

<% } %>
<% } %>

<%- include("partials/footer.ejs") -%>
